[Unit]
Description=Espurna stonith API to virsh
After=NetworkManager.service

[Service]
ExecStart=/bin/bash -c 'cd /opt/isard-flock/ && ./install-isard-flock.sh --master 0 --if_viewers eth0 --if_nas eth1 1>/tmp/auto-install.log 2>/tmp/auto-install-error.log'
ExecStartPost=/bin/rm /etc/systemd/system/multi-user.target.wants/auto-install.service
Type=simple

[Install]
WantedBy=multi-user.target
