[Unit]
Description=Espurna stonith API to virsh
After=NetworkManager.service

[Service]
ExecStart=/usr/bin/bash -c '/opt/isard-flock/kvm-lab/espurna_virsh_emulator.sh 1>/tmp/espurna_virsh_emulator.log 2>/tmp/espurna_virsh_emulator-error.log'
Type=simple

[Install]
WantedBy=multi-user.target
